body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}

header {
    background-color: #ffffff;
}

.nav-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;

}

.span-studio {
    color: #2e2f42;
}

.nav-contacts {
    color: #2e2f42;
}

.nav-portfolio {
    color: #2e2f42;
}

.nav-studio {
    color: #2e2f42;
}

.info-mail {
    color: #434455;
}

.info-tel {
    color: #434455;
}

.nav-studio:hover, .nav-studio:focus {
    color: #404bff;
}
.nav-portfolio:hover, .nav-portfolio:focus {
    color: #404bff;
}
.nav-contacts:hover, .nav-contacts:focus {
    color: #404bff;
}

.info {
    font-style: normal;
}

.info-mail:hover {
    color: #404bff;
}

.info-tel:hover {
    color: #404bff;
}

.section1 {
    background-color: #2e2f42;
    color: #ffffff;
    
}

.section1-button {
    background-color: #4d5ae5;
    color: #ffffff;
}

.section2 {
    background-color: #ffffff;
}

.section3 {
    background-color: #f4f4fd;
}

.title-sec3 {
    text-align: center;
}

.section4 {
    background-color: #ffffff;
}

.title-sec4 {
    text-align: center;
}

.card-person {
    background-color: #ffffff;
}

.portfolio-card {
    background-color: #e7e9fc;
}

.footer {
    background-color: #2e2f42;
    color: #ffffff;
}

.fot-logo {
    font-family: 'Raleway', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 3%;
        color: #4d5ae5;
}

.fot-span-logo {
    color: #2e2f42;
}