body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 1.07;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

header {
    background-color: #ffffff;
}

.nav-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;

}

.span-studio {
    color: #2e2f42;
}

.nav-contacts {
    color: #2e2f42;
}

.nav-portfolio {
    color: #2e2f42;
}

.nav-studio {
    color: #2e2f42;
}

.info-mail {
    color: #434455;
}

.info-tel {
    color: #434455;
}

.nav-studio:hover, .nav-studio:focus {
    color: #404bbf;
}
.nav-portfolio:hover, .nav-portfolio:focus {
    color: #404bbf;
}
.nav-contacts:hover, .nav-contacts:focus {
    color: #404bbf;
}

.info {
    font-style: normal;
}

.info-mail:hover, .info-mail:focus {
    color: #404bbf;
}

.info-tel:hover, .info-tel:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
    color: #ffffff;

}

.section-one-button {
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
}

.section-one-button:hover, .section-one-button:focus {
    color: #404BBF;
}

.section-two {
    background-color: #ffffff;
}

.section-three {
    background-color: #f4f4fd;
}

.title-sec-three {
    color: #2e2f42;
    text-align: center;
}

.section-four {
    background-color: #ffffff;
}

.title-sec-four {
    color: #2e2f42;
    text-align: center;
}

.card-person {
    background-color: #ffffff;
}

.portfolio-card {
    background-color: #e7e9fc;
}

.footer {
    background-color: #2e2f42;
    color: #ffffff;
}

.fot-logo {
    font-family: 'Raleway', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
}

.fot-par {
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.fot-span-logo {
    color: #f4f4fd;
}